<!-- Обнуление параметров страници
*{
	padding: 0;
	margin: 0;
	border: 0;
	}
	*,*:before,*after{
		moz-box-sizing: border-box;
		webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	:focus,:active{outline: none;}
	a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}	
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	ms-text-size-adjust: 100%;
	moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
ul { padding-inline-start: 0; }
img{vertical-align: top;}
@font-face {
	font-family: "Georgia";
	font-style: normal;
	font-weight: 700;
	src: local("Georgia"),
			url("../fonts/Georgia.woff2") format("woff2")
}
@font-face {
	font-family: "Georgia";
	font-style: normal;
	font-weight: 400;
	src: local("Georgia"),
			url("../fonts/Georgia.woff2") format("woff2")
}
body{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   color: #424242;
}
[class*="__container"]{
	max-width: 1370px;
	margin: 0 auto;
	padding: 0px 15px;
}
table{
   border: #000000 solid 2px;
}
.btn{
   font-weight: 400;
   font-size: 20px;
   line-height: 1.25;
   text-align: center;
   color: #FFFFFF;
   background-color: #01996D;
   padding: 15px 50px;
   border: 1px solid #01996D;
   border-radius: 4px;
}
.btn:hover{
   background-color: #065d44;
   text-decoration: underline;
}
/* ======================================================== */
.header {
}
.header__container {
   display: flex;
   min-height: 85px;
   justify-content: center;
   align-items: center;
}
/* =============================================== */
.icon-menu {
   display: none;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
		background-color:;
		border: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after{
		content: "";
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #01996D;
		max-width: 18px;
		max-height: 18px;
	}
	.icon-menu::before{
		top: 0;
	}
	.icon-menu::after{
		bottom: 0;
	}
	.icon-menu span {
			top: calc(50% - 1px);
		}
	.icon-menu.menu-open  span {
		width: 0; 
	}
	.icon-menu.menu-open::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
      background-color: #000000;
	}
	.icon-menu.menu-open::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
      background-color: #000000;
	}
   /* ========================================== */
.header__logo {
}
.header__logo:hover{
   transform: scale(1.1);
}
.header__menu {
}
.menu {
   flex: 1 1 auto;
}
.menu__list {
   display: flex;
   justify-content: center;
}
.menu__item {
}
.menu__link {
   font-size: 20px;
   line-height: 1.2;
   color: #292929;
}
.menu__link:hover{
   text-decoration: underline;
}
.menu__item:not(:last-child){
   margin-right:  72px;
}
.right {
   display: flex;
   align-items: center;
}
.right__sing-in {
   font-weight: 400;
   font-size: 20px;
   line-height: 1.2;
   color: #000000;
}
.right__sing-in:not(:last-child){
   padding-right: 35px;
}
.right__sing-in:hover{
   text-decoration: underline;
}
.right__btn {
}
@media(max-width:1000px){
   .menu__item:not(:last-child){
      margin-right:  22px;
   }
   .right__sing-in:not(:last-child){
      padding-right: 15px;
   }
}
@media(max-width:800px){
   .menu__list{
      text-align: center;
      padding: 20px;
   }
}
@media(max-width:801.98px){
   .icon-menu{
      display: block;
   }
   .menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(1, 153, 109, 0.8);
		transform: translateX(-100%);
		transition: transform 0.3s ease 0s; 
		display: block;
		justify-content: center;
		padding-top: 65px;
	}
	.menu.active-burger {
		position: fixed;
		z-index: 2;
		transform: translateX(0);
      
	}
   .menu__list{
      display: block;
      border: #000000 solid 1px;
   }
   .menu__link{
      font-size: 40px;
   }
   .header__container{
      justify-content: space-between;
   }
}
@media(max-width: 426px){
   .right{
      flex: 1 1 100%;
   }
}
/* =============main=============================== */
.page__main-block {
}
.main-block {
   background: url(../img/BG.jpg) no-repeat center;
}
.main-block__container {
}
.main-block__body {
   padding: 184px 0 191px 0;
	max-width: 400px;
}
.main-block__title {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 700;
   font-size: 65px;
   line-height: 1.15;
   color: #01996D;
   padding-bottom: 30px;
}
.main-block__text {
   line-height: 1.55;
   padding-bottom: 30px;
}
.main-block__batton {
}
.main-block__image {
   position: relative;
}
.main-block__image img{
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}
@media(max-width:1000px){
   .main-block__body {
      padding: 84px 0 91px 0;
      
   }
	.main-block__image img{
		object-position: right;
	}
}
@media(max-width: 426px){
   .main-block__title{
      font-size: 40px;
      line-height: ;
   }

}

/* ================================================= */


.page__how-it-works {
   padding-top: 170px;
}
.how-it-works {
   padding: 0 15px;
}

.how-it-works__top-title {
   display: block;
   font-weight: 600;
   font-size: 24px;
   line-height: 1.57;
   color: #424242;
}
.how-it-works__top-title:not(:last-child){
   padding-bottom: 35px;
}
.how-it-works__top {
   display: flex;
}
.how-it-works__title {
   flex: 0 1 50%;
   max-width: 585px;
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 157%;
   color: #01996D;
}
.how-it-works__text {
   flex: 0 1 50%;
}
.how-it-works__body {
   display: flex;
   flex-wrap: wrap;
   padding: 15px;
}
.how-it-works__column-01{
   max-width: 390px;
   margin: 0px 45px 0 0;
   flex: 0 1 33.333%;
}
.how-it-works__column-02{
   max-width: 390px;
   margin: 0px 25px 0 25px;
   padding-top: 250px;
   flex: 0 1 33.333%;
}
.how-it-works__column-03{
   max-width: 390px;
   margin: 0px 0 0 45px;
   padding-top: 50px;
   flex: 0 1 33.333%;
   border-radius: 4px;
}
.how-it-works__item {
}
.item-how-it-works {
   
}
.item-how-it-works__content {
   
}
.how-it-works__link {
   position: relative;
}
.how-it-works__link img {
   position: absolute;
   left: 0;
   top: 0;
}
.item-how-it-works__title {
   padding-top: 45px;
   padding-left: 85px;
   font-weight: 700;
   font-size: 30px;
   color: #000000;
}
.item-how-it-works__text {
}
.item-how-it-works__image {
   padding: 0 0 50px 0;
   display: block;
}
@media(max-width:1250px){
   .item-how-it-works__image{
      padding: 0 ;
   }
   .how-it-works__column-01{
      padding: 0 50px;
      flex: 1 1 50%;
   }
   .how-it-works__column-02{
      padding: 0 50px;
      padding-top: 0px;
      flex: 1 1 50%;
      }
   .how-it-works__column-03{
      padding: 0 50px;
      padding-top: 0px;
      flex: 0 1 100%;
      }
}
@media(max-width:1165px){
   .how-it-works__column-01{
      padding: 0 20px;
      flex: 1 1 50%;
   }
   .how-it-works__column-02{
      padding: 0 20px;
      padding-top: 0px;
      flex: 1 1 50%;
      }
   .how-it-works__column-03{
      padding: 0 20px;
      padding-top: 0px;
      flex: 0 1 100%;
      }
}
@media(max-width:1015px){
   .how-it-works__body{
      display: flex;
      justify-content: center;
   }
   .how-it-works__column-01{
      padding: 0 20px;
      flex: 1 1 50%;
      margin:0 0px 0 25px ;
   }
   .how-it-works__column-02{
      padding: 0 20px;
      padding-top: 0px;
      flex: 1 1 50%;
      margin:0 0px 0 25px ;
      }
   .how-it-works__column-03{
      padding: 0 20px;
      padding-top: 0px;
      flex: 1 1 100%;
      margin:0 0px 0 25px ;
      }
}
@media(max-width:801.98px){
   .page__how-it-works {
      padding-top: 70px;
   }
   .how-it-works__top{
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
   .how-it-works__title{
      justify-content: center;
   }
}
@media(max-width: 426px){
}
/* ============about============== */
.page__about {
   
background-color: #245852;
}
.about {
}
.about__container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.about__body {
   padding: 310px 30px 260px ;
}
.about__title {
   font-family: 'Georgia';
   font-weight: 700;
   font-size: 50px;
   line-height: 157%;
   color: #FFFFFF;
}
.about__text {
   font-weight: 600;
   font-size: 25px;
   line-height: 157%;
   color: #FFFFFF;
}
.about__batton {
   padding-top: 57px;
}
.about__button {
}
.btn {
}
.about__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}

.about__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media(max-width: 1010px){
.about__container{
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.about__video{
		margin: 50px 0 0 0;
		padding: 0 0 56.25% 0;
	}
}
@media(max-width: 1300px){
   .about__body{
      padding:50px;
   }
}
@media(max-width: 426px){
   .about__title{
      font-size: 34px;
   }
}
/* ========================================== */
.page__our-product {
}
.our-product {
   padding-top: 120px;
   padding-bottom: 160px;
}
.our-product__container {
   display: flex;
}
.our-product__image {
   position: relative;
   margin-left: 60px;
   background-color: rgba(1, 153, 109, 0.2);
   border-radius: 18.1125px;
}
.our-product__catd {
   position: absolute;
   bottom: -100px;
   left: -60px;
}
.our-product__body {
   flex: 1 1 52%;
   padding-left: 3.15%;
}
.our-product__pre-title {
   font-weight: 600;
   font-size: 25px;
   line-height: 157%;
   color: #424242;
}
.our-product__title {
   margin: 10px;
   font-family: 'Georgia';
   font-weight: 700;
   font-size: 50px;
   line-height: 157%;
   color: #01996D;
}
.our-product__text {
   padding-bottom: 40px;
}
@media(max-width: 1010px){
   .our-product {
      padding-top: 60px;
   }
.our-product__container {
      flex-direction: column-reverse;
   }
}
@media(max-width: 540px){
   .our-product__image{
      display: none;
   }
}
@media(max-width: 426px){
   .our-product {
   padding-top: 40px;
   padding-bottom: 40px;
}
.our-product__title{
   font-size: 34px;
}
}

/* ========================================== */

/* =========footer================= */
.footer {
   background-color: #245852;
}
.footer__container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
}
.menu-footer {
}
.menu-footer__list {
   display: flex;
   gap: 60px;
}
.menu-footer__item {
}
.menu-footer__link {
   color: #fff;
}
.menu-footer__link:hover{
   text-decoration: underline;
}
@media(max-width: 1010px){
   .footer__container {
      gap: 30px;
   }
}
@media(max-width: 675px){
   .footer__container{
      padding: 20px;
      display: block;
      text-align: center;
   }
   .menu-footer__list {
      display: block;
      gap: 60px;
   }
}